<div class="dg-gui">
    @if (visible) {
        <div class="guiItem">
            <label for="seedInput" class="guiLabel">Seed</label>
            <input id="seedInput" class="guiInput" type="text" [value]="props().seed" (change)="onChangeSeed($event)"/>
        </div>

        <div class="guiItem">
            <div class="guiLabel"></div>
            <button class="guiButton" (click)="onSeedClickRandomize()">Randomize Seed</button>
        </div>

        <div class="guiItem">
            <label for="widthInput" class="guiLabel">Width</label>
            <div class="guiMulti">
                <input class="guiMultiRange" type="range" min="1" [max]="maxTextureSize()" step="1" [value]="width()" (change)="onChangeWidth($event)"/>
                <input id="widthInput" class="guiMultiNumber" type="number" min="1" [max]="maxTextureSize()" step="1" [value]="width()" (change)="onChangeWidth($event)"/>
            </div>
        </div>
        <div class="guiItem">
            <label for="heightInput" class="guiLabel">Height</label>
            <div class="guiMulti">
                <input class="guiMultiRange" type="range" min="1" [max]="maxTextureSize()" step="1" [value]="height()" (change)="onChangeHeight($event)"/>
                <input id="heightInput" class="guiMultiNumber" type="number" min="1" [max]="maxTextureSize()" step="1" [value]="height()" (change)="onChangeHeight($event)"/>
            </div>
        </div>

        <div class="guiItem">
            <label for="pointStarsInput" class="guiLabel">Point Stars</label>
            <input id="pointStarsInput" class="guiCheck" type="checkbox" [checked]="props().renderPointStars" (change)="onChangeRenderPointStars($event)"/>
        </div>
        <div class="guiItem">
            <label for="starsInput" class="guiLabel">Stars</label>
            <input id="starsInput" class="guiCheck" type="checkbox" [checked]="props().renderStars" (change)="onChangeRenderStars($event)"/>
        </div>
        <div class="guiItem">
            <label for="sunInput" class="guiLabel">Sun</label>
            <input id="sunInput" class="guiCheck" type="checkbox" [checked]="props().renderSun" (change)="onChangeRenderSun($event)"/>
        </div>
        <div class="guiItem">
            <label for="nebulaeInput" class="guiLabel">Nebulae</label>
            <input id="nebulaeInput" class="guiCheck" type="checkbox" [checked]="props().renderNebulae" (change)="onChangeRenderNebulae($event)"/>
        </div>
        <div class="guiItem">
            <label for="shortScaleInput" class="guiLabel">Short Scale</label>
            <input id="shortScaleInput" class="guiCheck" type="checkbox" [checked]="props().shortScale" (change)="onChangeShortScale($event)"/>
        </div>
    }
    <!-- toggle visibility -->
    <div class="guiItem">
        <button class="guiToggler" (click)="visible = !visible">{{visible ? 'Close' : 'Open'}} Controls</button>
    </div>
</div>
