<canvas #canvas appScene id="render-canvas" class="render-canvas"></canvas>

<app-gui
    [maxTextureSize]="scene().maxTextureSize"
    [width]="canvas.width" [height]="canvas.height"
    [props]="props"

    (changeProps)="onChangeProps($event)"
    (changeWidth)="onChangeWidth($event)"
    (changeHeight)="onChangeHeight($event)"
    />

<div class="exports">
    <button (click)="downloadCanvas()">Download the image</button>
    <button (click)="copyCanvas()" [disabled]="!canCopyCanvas">Copy the image to clipboard</button>
</div>

<!--
<a href='http://wwwtyro.net/2016/10/22/2D-space-scene-procgen.html'>
    <img src='http://wwwtyro.net/media/tut-bottom-left.png' style='position: fixed; bottom: 0px; left: 0px'>
</a>
 -->
